        .bulma-navbar-burger span {
            background-color: white;
            display: block;
            transition: transform 0.3s ease;
        }

        /* Active state → all 3 tilt and stay separated */
        .bulma-navbar-burger.bulma-is-active span:nth-child(1) {
            transform: translateY(6px) rotate(25deg);
        }

        .bulma-navbar-burger.bulma-is-active span:nth-child(2) {
            transform: translateY(0px) rotate(25deg);
        }

        .bulma-navbar-burger.bulma-is-active span:nth-child(3) {
            transform: translateY(-6px) rotate(25deg);
        }

        .bulma-navbar-burger.bulma-is-active span:nth-child(4) {
            transform: translateY(-12px) rotate(25deg);
        }